<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
			<div class="tm-content-box">
				<div class="card" style="width:100%">
					<img class="card-img-top" src="https://graph.facebook.com/100011285200369/picture?type=large&width=320&height=320" alt="Card image">
					<div class="card-body">
						<h4 class="card-title"><a href="https://m.me/quihuynh1309">Qui Huynh Dinh</a></h4>
						<p class="card-text">Developer - Leader</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
			<div class="tm-content-box">
				<div class="card" style="width:100%">
					<img class="card-img-top" src="https://graph.facebook.com/100007159359993/picture?type=large&width=320&height=320" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title"><a href="https://m.me/100007159359993">Minh Cong Trinh</a></h4>
						<p class="card-text">Programmer & Writter</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
			<div class="tm-content-box">
					<div class="card" style="width:100%">
					<img class="card-img-top" src="https://graph.facebook.com/100008242321850/picture?type=large&width=320&height=320" alt="Card image">
					<div class="card-body">
						<h4 class="card-title"><a href="https://m.me/100008242321850">Truong Nguyen Van </a></h4>
						<p class="card-text">Designer & Writter</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
			<div class="tm-content-box">
				<div class="card" style="width:100%">
					<img class="card-img-top" src="https://graph.facebook.com/100011529363581/picture?type=large&width=320&height=320" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title"><a href="https://m.me/100011529363581">Tinh Vo Van</a></h4>
						<p class="card-text">Programmer & Writter</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
