<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
<div class="row">
	<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
		<h3 class="tm-gold-text tm-title">
			{{$ctrl.bridge.name}}
		</h3>
		<hr class="tm-margin-t-small">
		<div ng-include="$ctrl.bridge.description"></div>

	</div>
	<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
		<h3 class="tm-gold-text tm-title">
			Location
		</h3>
		<hr class="tm-margin-t-small">
		<div id="mapid"></div>
		<br>
		<h3 class="tm-gold-text tm-title">Infomation</h3>
		<hr class="tm-margin-t-small">
		<a ng-href="{{$ctrl.bridge.link}}"><button class="btn btn-primary" title="Download word document">Download</button></a>
		<br>
		<br>
		<h3 class="tm-gold-text tm-title">Travel to {{$ctrl.bridge.name}}</h3>
		<hr class="tm-margin-t-small">
		<a href="https://flightaware.com/"><img src="http://flightaware.com/images/logo_tag100.png" height="100" width="242" alt="FlightAware Flight Tracker" border="0" /></a>

	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		<a ui-sref='^'><span class="oi oi-arrow-circle-left"></span><src href="sprite.svg#si-glyph-arrow-up" />Back to Home</a>
	</div>
</div>