<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
    <div class="tm-aside-container">
        <h3 class="tm-gold-text tm-title">
            Gallery
        </h3>
        <hr class="tm-margin-t-small">
        <div class="gallery">
            <ul id="lightgallery">
              <li ng-repeat="pic in $ctrl.img" lightgallery data-responsive="" data-src="{{pic.imgOriginal}}"
              data-sub-html="{{pic.sub}}">
                <a href="">
                  <img class="img-responsive" ng-src="{{pic.responsive}}">
                  <div class="gallery-poster">
                    <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                  </div>
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
</div>